@import "./styles.css";

.testimonial-card-v2{
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    max-width: 310px;
    width: 100%;
    border-radius: var(--space-2);
    border: 1px solid var(--border-color);    
    padding:var(--space-2);   

}

.testimonial-text-content-v2{
    /* color:var(--background-color);
    background-color: var(--text-color); */
    padding: var(--space-2);
    border-radius: var(--space-2);
    max-width: 300px;
    position:relative;
}

.testimonial-text-content-v2 .details-v2 {
    margin-bottom:var(--space-2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    overflow: hidden;
}



